//colors

$white: #fff;
$black: #000;
$dark-grey: #455A64;
$accent-blue: #29B6F6;
$accent-pink: #E91E63;
$accent-amber: #FFC107;
$accent-purple: #9C27B0;



.turquoise {
    background-color: #1abc9c !important;
}
.emerald {
    background-color: #2ecc71 !important;
}
.peter__river {
    background-color: #3498db !important;
}
.amethyst {
    background-color: #9b59b6 !important;
}
.wet__asphalt {
    background-color: #34495e !important;
}

.green__sea {
    background-color: #16a085 !important;
}
.nephritis {
    background-color: #27ae60 !important;
}
.belize__hole {
    background-color: #2980b9 !important;
}
.wisteria {
    background-color: #8e44ad !important;
}
.midnight__blue {
    background-color: #2c3e50 !important;
}

.sunflower {
    background-color: #f1c40f !important;
}
.carrot {
    background-color: #e67e22 !important;
}
.alizarin {
    background-color: #e74c3c !important;
}
.clouds {
    background-color: #ecf0f1 !important;
}
.concrete {
    background-color: #95a5a6 !important;
}

.orange {
    background-color: #f39c12 !important;
}
.pumpkin {
    background-color: #d35400 !important;
}
.pomegranate {
    background-color: #c0392b !important;
}
.silver {
    background-color: #bdc3c7 !important;
}
.asbestos {
    background-color: #7f8c8d !important;
}

.black {
    background-color: #000 !important;
}
.white {
    background-color: #fff !important;
}