body {
    background-color: #141228;
}

h2 {
    font-family: $font-raleway;
    font-size: 1.3em;
    text-align: center;
    font-weight: 100;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3 {
    font-family: $font-raleway;
    font-size: 1.1em;
    text-align: center;
    font-weight: 100;
    color: #fff;
    // padding-top: 50px;
    padding-top: 10px;
}

p {
	font-family: $font-quicksand;
	font-size: 1.1em;
	text-align: center;
	font-weight: 100;
    color: #fff;
    border: 1px solid #000;
    padding: 20px;
}

a {
    font-family: $font-quicksand;
	font-size: 1.1em;
	text-align: center;
	font-weight: 100;
}

.container__inline {
    display: inline-block;
    width: 220px;
    margin: 20px;

    &.auto {
        width: auto !important;
    }

    p {
        border: none;
    }
}

.white, .clouds {
    p {
        color: #000 !important;
    }
}

.night {
    border: 1px solid $white;
}

img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 0 auto;
}