.button {
    display: block;
    width: auto;
    padding: 10px 25px;
    color: $white;
    border-radius: 3px;
    font-size: 1.2em;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.filled {
    border: 2px solid $pink;
    box-shadow: 0 0 3px $pink;
    background-color: $pink;
    color: $white;

    &:hover {
        transition: .3s ease-in-out;
        background-color: transparent;
        cursor: pointer;
    }
}

.empty {
    border: 2px solid $pink;
    box-shadow: 0 0 3px $pink;
    background-color: transparent;

    &:hover {
        transition: .3s ease-in-out;
        color: $white;
        background-color: $pink;
        cursor: pointer;
    }
}

.disabled {
    color: $wet__asphalt;
    box-shadow: 0 0 3px $wet__asphalt;
    border: 2px solid $wet__asphalt;
    cursor: default;
    opacity: .8;
}