input[type="text"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    width: 45%;
    height: 50px;
    border: 2px solid #cfd9db;
    border-radius: 7px;
    padding: 12px 20px;
    margin-bottom: 15px;
    float: left;
}

input[type="email"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    width: 52%;
    height: 50px;
    border: 2px solid #cfd9db;
    border-radius: 7px;
    padding: 12px 20px;
    margin-bottom: 15px;
    float: right;
}

input[type="submit"] {
    width: 30%;
    height: 45px;
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    font-weight: 100;
    background-color: #ECEFF1; /*#4b78a0*/
    border: 2px solid #cfd9db;
    cursor: pointer;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin-top: 30px;
    color: #000;
    transition: all .5s;
}
    input[type="submit"]:hover, input[type="submit"]:focus {
        transition: all .5s;
        background-color: #000;
        color: #fff;
        border: 2px solid #000;
        box-shadow: 5px 5px 5px #d3d3d3;
    }

textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    width: 100%;
    height: 250px;
    border: 2px solid #cfd9db;
    border-radius: 7px;
    resize: vertical;
    padding: 12px 20px;
}